img {
max-width:100%;	
}

.node_img
{
display: inline-block;
background-repeat: no-repeat;
width: 21px;
height: 21px;
vertical-align: middle;
margin-top: -1px;
border: 1px solid transparent;
background-size: 21px 21px;
}

.note-1
{
background-image: url("../img/note-1.svg");
}
.note-2
{
background-image: url("../img/note-2.svg");
}
.note-3
{
background-image: url("../img/note-3.svg");
}
.note-4
{
background-image: url("../img/note-4.svg");
}
.note-5
{
background-image: url("../img/note-5.svg");
}
.note-6
{
background-image: url("../img/note-6.svg");
}

.note-clean
{
background-image: url("../img/note-clean.svg");
}


.folder_closed
{
line-height: 1.3em;
text-align: center;
display: inline-block;
background-image: url("../img/folder-closed.svg");
background-size: 23px 23px;
background-repeat: no-repeat;
/* background-position: -56px -19px; */
width: 23px;
height: 23px;
padding-right: 10px;
}

.folder_closed b {
font-size: 10px;
color: #FFF;
margin-top: 4px;
height: 23px;
display: inline-block;
margin-left: -4;
font-weight: normal;
text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
width: 3em;
text-align: center;
padding-top: 0px;
}

.folder_closed.full
{
background-image: url("../img/folder-closed-full.svg");
}


.ui-btn-up-c {
	background-image: none;
	color: #000 !important;
}

.ui-btn-hover-c {
	background-image: none;
	color:#000 !important;
}

.ui-btn-down-c {
	background-image: none;
	background:#DDD;
	color: #000 !important;
}


.redactor_box {
	border: none !important;
}

.redactor_editor,.redactor_editor:focus {
	padding-bottom: 50px !important;
	text-shadow:none !important;
}

#editor_content {
	overflow: auto !important;
height: auto;
position: absolute;
left: 0px;
right: 0px;
top: 187px;
bottom: 0px;
padding-top: 0px;
padding: 0px;
background: white;
border-top: 1px solid #888;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
}

.ui-panel-content-wrap-open.ui-panel-content-wrap-position-left {
	margin-right:17em;
	min-width: 20em;
	}

.ui-panel-content-wrap-open.ui-panel-content-wrap-position-right {
	min-width: 20em;
	}

@media (min-width: 35em){

.ui-panel-content-wrap-open.ui-panel-content-wrap-position-right {
	min-width: 20em;
	margin-left: 17em;
	}

}



#editor_content {
	-webkit-overflow-scrolling: touch;	
}

#fav_redactor_btn {
position: absolute;
top: 163px;
left: 0px;
right: 0px;
height: 35px;
padding-left: 0px;
background: none !important;
overflow: hidden;
border-top: 1px solid #FFF;
}

.hide_options #fav_redactor_btn {
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
top:65px;
border-top: none;
}

.hide_options #editor_content {
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
	top:90px;
}

.hide_options #redactor_header {
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
	display: none;
}

#fav_redactor_btn .redactor_toolbar {
	background: none !important;
	border:none !important;
	white-space: nowrap;
	padding-left: 12px !important;
}


#fav_redactor_btn li {
height: 23px;
width: 23px;
text-align: center;
float: none !important;
display: inline-block;
}



#fav_redactor_btn li:hover,#fav_redactor_btn li:active {
	background: #DDD;
}

#fav_redactor_btn .redactor_separator:hover,#fav_redactor_btn_comment .redactor_separator:hover {
box-shadow: none;
}

#fav_redactor_btn .redactor_separator,#fav_redactor_btn_comment .redactor_separator {
	width: 2px;
	padding: 0px;
	border: none !important;
	height: 8px;
}

#fav_redactor_btn li i, #fav_redactor_btn_comment li i {
color: inherit;
font-size: 13px;
margin: 0px !important;
display: inline-block;
padding-top: 5px;
padding-left: 3px;
}
#fav_redactor_btn li a, #fav_redactor_btn_comment li a{
	color: inherit;
	height: 100%;
}

#fav_redactor_btn li a.redactor_act, #fav_redactor_btn_comment li a.redactor_act{
border-color: none;
background-color: none;
box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
background: rgba(0,0,0,0.3);
color: #EEE;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;

}

/*
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal {
	-webkit-transform: translate3d(22em,0,0);
	-moz-transform: translate3d(22em,0,0);
	transform: translate3d(22em,0,0);
}
*/

.ui-panel-inner {
	padding: 0px;
	height: 100%;
	position: relative;

}

.ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

#mainWindow {
	height: 100%;
}

#mainWindow .ui-panel-content-wrap, #mainWindow .ui-header {
	box-shadow: -1px 0px 8px #000 !important;
	-webkit-box-shadow: -1px 0px 8px #000 !important;
	-moz-box-shadow: -1px 0px 8px #000 !important;
}

#mainWindow .ui-panel-content-wrap {
	height: 100%;
}

#mainWindow .ui-panel-content-wrap > .ui-content{
	padding: 10px 15px;
}

#menuContent {
margin:0px;
height:auto;
position:absolute;
left:0px;
right:0px;
top:102px;
bottom:0px;
-webkit-overflow-scrolling: touch;	
/*overflow: scroll;*/
/*-webkit-transition-duration:0.2s;*/
}

#menuCalendar {
margin:0px;
height:auto;
position:absolute;
left:0px;
right:0px;
top:62px;
bottom:0px;
-webkit-overflow-scrolling: touch;		
}

#menuCalendar .ui-li-divider {
	text-align: center;
}


#menuContent.slide_up {
	-webkit-transition-duration:0.3s;
}

#sync_text {
font-size: 9px;
text-align: center;
color: #999;
margin-top: 3px;
}

#myloader {
display: block;
text-align: center;
margin-top: -17px;
margin-bottom: 0px;
position: absolute;
margin-left: -5px;
}

#sync_status i {
width: 100%;
margin-top: 2px;
position: absolute;
margin-left: 1px;
display: block;
text-align: center;
font-size: 16px;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  

}


input.ui-input-text.ui-mini, textarea.ui-input-text.ui-mini, .ui-input-search.ui-mini, div.ui-input-text.ui-mini {
	margin: 8px 10px 5px 5px;
}

#mainWindow .ui-input-search {
	padding: 0px 28px;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
}

#mainWindow .ui-input-search input {
	font-size: 13px;
	padding: 2px 0px 2px 0px;
	outline: none !important;
	height: 22px;
	line-height: 22px;
}

#mainWindow .ui-input-search .ui-input-clear {
	background:none !important;
	border: none;
	box-shadow: none;
	right: 4px;
	margin-top: -18px;
}

.ui-icon.ui-icon-delete.ui-icon-shadow {
	margin: 2px 1px !important;
}

#mainWindow .ui-icon-searchfield:after {
	left: 3px !important;
}

#search_div {
	height: 39px;
	margin-top: -8px;
	padding-top: 7px;



background: #eee /*{c-bup-background-color}*/;
font-weight: bold;
color: #222 /*{c-bup-color}*/;
text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #fff /*{c-bup-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( rgb(177,177,177) /*{c-bup-background-end}*/));
background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, rgb(177,177,177) /*{c-bup-background-end}*/);
background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, rgb(177,177,177) /*{c-bup-background-end}*/);
background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, rgb(177,177,177) /*{c-bup-background-end}*/);
background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, rgb(177,177,177) /*{c-bup-background-end}*/);
background-image: linear-gradient( #fff /*{c-bup-background-start}*/, rgb(177,177,177) /*{c-bup-background-end}*/);

}


#menuContent ul {
	
}

#refresh_list {
	height: 60px !important;
	padding: 0px;
}

#refresh_list i {
	display: inline-block;
	margin-left: 49%;
	margin-top: 23px;
}

.li_header {
margin-top: 0px;
margin-left: 0px;
font-size: 12px;
text-overflow: ellipsis;
overflow: hidden;
}

.ui-li-aside {
	font-size: 9px !important;
	color: green !important;
	margin-right: 0px;
	margin-top: 2px;
}

.wrapper {
white-space: nowrap;
display: inline-block;
}

.title_left {
width: 30px;
white-space: normal;
vertical-align: middle;
display: inline-block;
margin-left: 10px;
margin-right: 5px;
}

.title_right {
white-space: normal;
vertical-align: middle;
display: inline-block;
font-size: 14px;
width: 205px;
}

.tree_li {
	text-shadow: none !important;
	padding:6px 0px !important;
	min-height: 5px;
	white-space: nowrap;
	cursor: pointer;
	-ms-touch-action: none !important;
	/*padding: 0px 5px 0px 7px !important;*/
}

.ui-li-desc {
	font-size: 12px;
	margin-left: 25px;
}

.countdiv {
	font-size: 11px !important;
	margin-top: 5px !important;
	color: rgba(0,0,0,1);
}

#menuPanel {
	height: 100%;
}

#menuPanelRight {
	height: 100%;
}

#mainWindow .ui-header .ui-navbar .ui-grid-b li.ui-block-c .ui-btn, #mainWindow .ui-footer .ui-navbar .ui-grid-b li.ui-block-c .ui-btn {
	margin-right: 0px;
}

.ui-header .ui-btn, .ui-header .ui-icon, .ui-header .ui-btn-inner {
    border-radius: 0;

}

.ui-header .ui-btn-inner .ui-icon{
    margin: 2px 3px!important;
    border-radius: 0;
}

.ui-header .ui-title {
margin: 10px 87px 11px 50px;
font-size: 11px;
}

#menuPanel .ui-header .ui-btn-inner, #menuPanel .ui-footer .ui-btn-inner, #menuPanel .ui-mini .ui-btn-inner {
font-size: 11px;
padding: .5em 11px .5em;
}

#menuPanel .ui-btn-icon-left > .ui-btn-inner > .ui-icon {
	top:3px;
}

#menuPanel .ui-icon-arrow-l {
	box-shadow: none !important;
	background-color: transparent !important;
	left: -3px !important;
	top:2px !important;
}

#menuPanel .ui-btn-text {
	margin-left: 6px;
}

label {
	font-size: 10px !important;
	color:#888;
	margin: 0px !important;
	padding: 0px;
	padding-left: 10px;
}


#redactor_header {
	margin-top: -5px;
}

#redactor_header .ui-input-text {
		margin-top: 0px;
}

#redactor_header input {
	padding: 2px;
	font-size: 14px;
}

.note_date {
	width: auto;
}

.ui-select {
	font-size: 12px;
	padding: 2px;
	width: 85px;
	display: inline-block;
	margin-top: 0px;
	padding-top: 0px;
}

#redactor_header .ui-btn-inner {
	font-size: 11.5px;
	padding: .3em 9px .3em;

}

#redactor_header .ui-btn {
	text-align: left;
	margin-top: 0px;
}

#menuContent .ui-li:hover {
	/*background-color: rgb(220,220,220);*/
}


@media (min-width: 35em){
}

.ui-navbar li .ui-btn .ui-btn-inner  {
	padding-top: 0.2em;
	padding-bottom: 0.3em;
}


a.pasted {

}

a.did {
	text-decoration: line-through !important;
	text-shadow: none !important;
	color: #888 !important;
}

#mainWindow .ui-corner-all {
	border-radius: 0px !important;
}

#hide_show_did .ui-btn-text{
text-decoration: line-through !important; 
}

#hide_show_did.show_did .ui-btn-text{
	text-decoration: none !important; 
}


.divider_red
{
width: 100%;
min-height: 55px;
font-size: 13px !important;
background: #2f6a23 !important;
color: #69b12f;
font-weight: bold;
text-align: center;
margin-bottom: 0px !important;
margin-top: 35px !important;
cursor: pointer !important;
padding: 5px 0px 5px 0px;
}

.redactor_editor .divider_red:first-child
{
margin-top: 0px !important;
}

.divider_red h6
{
color: white;
font-size: 15px !important;
padding-left: 20px !important;
padding-right: 20px !important;
line-height: 15px !important;
margin-top: 0px;
margin-bottom: 0px;
}

.divider_count
{
float: left;
font-size: 40px !important;
margin: 18px 5px 0px 13px;
color: #538a26;
}

.divider_face
{
float: right;
width: 60px;
padding-right: 10px;
}

.edit_text
{
margin-top: 10px !important;
}


#tree_menu .ui-btn-inner{
	padding: 6px 0px !important;
}

#tree_menu .ui-btn-text {
	margin-left: 0px;
}

#tree_menu .ui-btn {
	height: 25px;
}

#tree_new i {
	margin-left: -4px;
}

#menuPanel .ui-navbar {
	border-bottom:1px solid #888;
}

.rotate180 {
	 -webkit-transform: rotate(-130deg);     /* Chrome and other webkit browsers */
  	-moz-transform: rotate(-130deg);        /* FF */
  	-o-transform: rotate(-130deg);          /* Opera */
  	-ms-transform: rotate(-130deg);         /* IE9 */
  	transform: rotate(-130deg);             /* W3C complaint browsers */

  	/* IE8 and below */
  	filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
-moz-transition: all 0.5s; 
-webkit-transition: all 0.5s;  
-ms-transition: all 0.5s;  
-o-transition: all 0.5s;  
transition: all 0.5s;  

}

.node_img.node_box {
width: 30px;
height: 30px;
background-size: 30px 30px;
margin-left: -4;
margin-top: 0;
}

.mypath {
	cursor: pointer;
	color:#EEE;
}

.mypath:hover {
	color:#FFF;
}

.selected {
color: white !important;
background-color: #09358c !important;
}

.my_pomidors
{
background: rgb(246, 253, 237) !important;
padding: 10px 10px 5px 10px;
border: 1px solid rgb(142, 185, 96) !important;
}

.my_pomidors li b
{
color: rgb(142, 185, 96);
float: right;
clear: right;
margin-right: 5px;
}

.my_pomidors i
{
color:rgb(226,1,1);
font-size: 19px !important;
}
