body, html {
	margin: 0px;
	padding: 0px;
	background-image: url("../img/textures/1.jpg");
	color: #FFF;
	font-family: Verdana;
}

h1 {
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 1px 4px black;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #666;
	font-size: 9px;
	text-align: center;
	text-shadow: 1px 1px 4px black;
}

.log {
	font-size: 8px;
	position: relative;
	margin-right: 10px;
	margin-left:10px;
	margin-top: 10px;
	border: 1px solid #222;
	padding: 5px;
	width: auto;
	max-height: 200px;
	overflow: auto;
	display: inline-block;
	width: 400px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	box-shadow: 1px 1px 20px #bbbbbb;
	
}

.log .time {
	font-size: 5px;
	display: inline-block;
}

.log .user {
	font-size: 5px;
	float: right;
	clear: right;	
}

.log ol {
	margin: 5px;
}

.log ol li {
	margin-bottom: 3px;
}

.icon-dot {
	display: none;
	color: green;
	font-weight: bold;
}