body,html {
	margin: 0px;
	height: 100%;
	color: #000;
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana;

background-image: url("../img/textures/1.jpg");
	
}

#tree_header {
	position: relative;
	height:27px;
	font-size: 11px;
	padding: 0px 0px 0px 0px;
    display:block;
    z-index: 2;
    background: #000;
    /* border-bottom: 1px solid #888; */
 }
 


.tree_tab_menu {
	list-style: none;	
	margin: 0px;
	font-weight: normal;
	margin-top: 0px;
	padding: 0px;
	white-space: nowrap;
/*	font-size: 0px; */
	margin-right: 180px;
	overflow: hidden;

}

/*
.tree_tab_menu li {
	display: inline-block;
	list-style: none;
	height:27px;
font-size: 13px;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
color: #888;
}

.tree_tab_menu li:hover {
	color: #FFF;
}

.tree_tab_menu li.active {
background: transparent;
color: #FFF;
}

.tree_tab_menu li a {
padding: 7px 0px 0px 7px;
cursor: pointer;
max-width: 90%;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
position: relative;
display: inline-block;
margin-top: 0px;
height: 11px;
max-width: 100px;
-moz-transition: all 0.3s; 
-webkit-transition: all 0.3s;  
-ms-transition: all 0.3s;  
-o-transition: all 0.3s;  
transition: all 0.3s;  
height: 19px;
vertical-align: middle;
}

.tree_tab_menu li a:hover {
color: #FFF;
-moz-transition: all 0.3s; 
-webkit-transition: all 0.3s;  
-ms-transition: all 0.3s;  
-o-transition: all 0.3s;  
transition: all 0.3s;  
}
*/

.tree_tab_menu .icon-cd {
font-size: 13px;
color: #777777;
margin-right: 5px;
margin-left: 4px;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-ms-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
margin-top: 5px;
display: inline-block;
}


.for_sos {
	float: left;
	margin: 2px 0px 0px 1px;
}

.tree_tab_menu .icon-cd:hover {
	color: #000;
-moz-transition: all 0.3s; 
-webkit-transition: all 0.3s;  
-ms-transition: all 0.3s;  
-o-transition: all 0.3s;  
transition: all 0.3s;  
	
}

.tree_tab_menu .icon-cancel {
font-size: 11px;
color: rgba(255,255,255,0.3);
vertical-align: middle;
cursor: pointer;
right: 20px;
position: absolute;
top: 7px;
z-index: 1;
color: rgba(0,0,0,1);
cursor: pointer;
z-index: 3;
}

.tree_tab_menu li.active .icon-cancel {
}

.tree_tab_menu li:hover .icon-cancel {
opacity: 1;
}

#left_calendar {
	position: absolute;
	left: 10px;
	right: 10px;
	width: auto;
	bottom:45px;
	height: 185px;
	font-size: 11px;
}

.show_pomidors #left_calendar {
	height: 200px;
}

.gradient_line {
  background:-moz-linear-gradient(left, rgba(237, 237, 237, 0.4) 0%,#CCC 50%,rgba(237, 237, 237, 0.4) 100%); 
  background:-webkit-linear-gradient(left, rgba(237, 237, 237, 0.4) 0%,#CCC 50%,rgba(237, 237, 237, 0.4) 100%); 
  background:linear-gradient(left, rgba(237, 237, 237, 0.4) 0%,#CCC 50%,rgba(237, 237, 237, 0.4) 100%);
  width: 100%;
  height: 1px;
}

.ui-datepicker-inline {
	padding-top: 10px;
}

.ui-datepicker .ui-datepicker-title {
	margin-top: -2px !important;
}

body .ui-widget-header, body .ui-widget-content, body .ui-widget-header a,
body .ui-state-default, body .ui-widget-content .ui-state-default, body .ui-widget-header .ui-state-default {
border: none;
background: none;
color: #000;
font-weight: normal;
margin: 0 auto;
text-align: center;
}

body .ui-datepicker th, body .ui-datepicker-week-col {
	font-weight: normal;
	color:#CCC;
	padding: 1px 5px !important;
}


#tree_left_panel {
	width: 279px;
	position: absolute;
	left:0px;
	bottom:0px;
	top:55px;
	font-size: 14px;	
	border-right: 1px solid #888;	
	background: #ededed;
	z-index: 3;
}

#tree_right_panel {
	width: 199px;
	position: absolute;
	right:0px;
	bottom:0px;
	top:55px;
	font-size: 13px;
	background: #ededed;
	border-left:1px solid #888;
		
}


#tree_editor {
	position: absolute;
	max-width: 1200px;
	top:55px;
	left:280px;
	right: 0px;
	bottom: 0px; /*  26px  */
	padding: 0px;
	padding-top: 0px;
/*	overflow: auto;	*/
	z-index: 0;
	border-left: 1px solid #888;	
	
-moz-transition: all 0.15s; 
-webkit-transition: all 0.15s;  
-ms-transition: all 0.15s;  
-o-transition: all 0.15s;  
transition: all 0.15s;  	

	z-index: 5;

/*
    -webkit-box-shadow:2px 2px 10px #000;
       -moz-box-shadow:2px 2px 10px #000;
            box-shadow:2px 2px 10px #000;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');	
*/
}

#tree_editor .settings_in {
	margin: 0px 15px 42px 15px; 
}

.all_editor_place
{
	top: 250px;
}

.params_hide .all_editor_place {
	top: 0px !important;
} 

#tree_editor.bottom_open .all_editor_place
{
	bottom: 300px;
}

#tree_editor {
	right: 200px;
}

.hide_right_panel #tree_editor {
	right: 0px !important;
}



.hide_right_panel #right-panel-arrow:before {
	content: "\e75e";
}

#tree_center {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 249px;
	top:0px;
	background: #ededed; 
	border-bottom: 1px solid #888;
	font-size: 14px;
	z-index: 2;
}


body.left_panel_hide #tree_editor {
	left: 0px !important;
}


body.left_panel_hide .on_resize{
	display: none;
}

body.left_panel_hide .top_panel {
}

#params_panel {
	display: none;
	-moz-box-shadow: inset 0 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0px 10px rgba(0,0,0,0.5);
	box-shadow: inset 0 0px 10px rgba(0,0,0,0.5);
	height: 153px;
}

.top_panel_header {
	border-top: 1px solid #FFF;
	height: 25px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #888;
}

.tree_add_new_element {  
font-size: 13px;
float: right;
border-left: 1px solid #616161;
padding-left: 10px;
font-style: normal !important;
font-family: Tahoma;
line-height: 22px;
height: 27px;
width: 95px;
vertical-align: middle;
text-align: left;
}

.tree_add_new_element:hover {  
	background: rgba(140, 255, 140, 0.5);
}

.tree_add_new_element:hover .icon-down-dir-1{  
	text-shadow: none;
	color:green;
}

.tree_add_new_element .icon-plus {  
height: 20px;
font-family: Tahoma;
font-style: inherit;
cursor: pointer;
display: inline-block;
margin-top: 3px;
}

.tree_add_new_element .icon-down-dir-1 {
position: absolute;
top: 9px;
right: 2px;
font-size: 12px;
cursor: pointer;
color: #616161;
text-shadow: none;
}



.tree_history_arrows {
	float: left;	
	font-size: 0px;
	vertical-align: middle;
	line-height: 27px;
}

.tree_history_arrows i {
padding: 0px 1px 0px 5px;
cursor: pointer;
font-size: 17px;
}

.tree_history_arrows i:hover {
background: rgba(255,255,255,0.5);
}

.tree_history_arrows .disabled {
	color: #555;
	text-shadow: none;
}


#top_panel_header_right {
	border-top: 1px solid #FFF;
	height: 25px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #888;
}


#fav_redactor_btn,#fav_redactor_btn_comment {
color: #222;
border-top: 1px solid #FFF;	
}

#params_header {
background: #777777;
color: #000;
height: 27px;
border-bottom: 1px solid #333;
white-space: nowrap;
overflow: hidden;
text-shadow: 0px 1px 0px #999;
position: absolute;
left: 0px;
right: 0px;
z-index: 5;
}

#params_header .top_btn {
	padding: 0px 10px;
	float: right;
	border-left: 1px solid #888;
	height: 100%;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

#params_header .top_btn:hover {
	background: rgba(255,255,255,0.1);
}


#params_header .top_btn.first {
	float: right;
	border-right: 1px solid #888;	
	border-left: none;
}

#params_header .top_btn.second {
	float: right;
	border-right: 1px solid #888;
	border-left: none;
}


#params_header .top_btn i {
	margin-top: 8px;
	display: inline-block;
}



#tree_editor img,#tree_editor_top img {
	max-width: 100%;
}

.tree_footer_menu {
	position: absolute;
	bottom:2px;
	left:0px;
	right: 0px;
	height: 27px;
	list-style: none;	
	margin: 0px;
	font-weight: normal;
	margin-top: 0px;
	padding: 0px;
	white-space: nowrap;
	height: 25px;
	font-size: 0px;
	padding-left: 280px;
}



.tree_footer_menu li:first-child {
}

.tree_footer_menu li {
	display: inline-block;
	list-style: none;
	height:25px;
	vertical-align: middle;
max-width: 11%;
font-size: 13px;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
}

.tree_footer_menu li:hover {
 
}

.tree_footer_menu li.active {
 font-weight: bold;
}

.tree_footer_menu li a {
padding: 4px 15px 3px 15px;
cursor: pointer;
max-width: 90%;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
position: relative;
display: inline-block;
margin-top: 0px;
}

.tree_add_do {
	display: none;
	position: absolute;
	right: 15px;
	top:2px;
	width: 150px;
	height: 20px;
	z-index: 3;	
}

.tree_add_do input {
	width: 100%;
	background: none;
	border: 1px solid #888;
	padding: 2px 5px;
	outline:none;	
	float: right;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
}

.tree_add_do input:focus {
	background: #FFF;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
	
}

.tree_search {
	position: absolute;
	left: 45px;
	bottom:36px;
	right: 60px;
	height: 20px;
	z-index: 3;
	text-align: center;
}

.show_pomidors .tree_search {
	bottom: 50px;
}


.tree_search input {
	width: 100%;
	background: none;
	border: 1px solid #888;
	padding: 2px 5px;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
outline: none;
max-width: 18em;
	
}

.tree_search input:focus {
	background: #FFF;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s;  
-ms-transition: all 0.2s;  
-o-transition: all 0.2s;  
transition: all 0.2s;  
}


#tree_shelf {
	display: none;
	position: absolute;
	right: 15px;
	width: 580px;
	bottom: 30px;
	top: 30px;
}

.one_book {
	position: absolute;
	right: 200px;
	top:20px;
	height: 100px;
	width: 75px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	background: #FFF;
	color: #000;
	font-size: 8px;
	border-right: 10px solid #888;
	border-top: 5px solid #888;
}

.shelf {
    width:100%;
    background: rgba(0,0,0,0.5);
    box-shadow:5px 5px 20px #000;
}
.shelf .row {
    border-style:solid;
    border-width:0 8px 8px 8px;
    border-color:#444 #444 #444 #444;
}
.shelf .row .inner {
    border-style:solid;
    border-width:0px 10px 20px 10px;
    border-color:#000 #222 #666 #111;
    height:150px;
    box-shadow:inset 5px 5px 20px #000, inset 2px -2px 8px #111;
}
.shelf .row .border {
    border-bottom:1px solid #888;
    border-right:1px solid #555;
}




ul.tabs{
  margin: 0;
  list-style-type : none;
  line-height : 22px;
  max-height: 27px;
  overflow: hidden;
  padding-right: 50px;
  padding-left: 35px;
}

ul.tabs > li.active:not(.add_tab){
  z-index:3 !important;
  background: #777777;
  color: #FFF;
  overflow: visible !important;
}

ul.tabs > li.active:not(.add_tab) a{
  color: #FFF;
  cursor: pointer;
}

ul.tabs > li.active:not(.add_tab):before{
  border-color : transparent #777777 transparent transparent;
}


ul.tabs > li.active:not(.add_tab):after{
  border-color : transparent transparent transparent #777777;
}

ul.tabs > li:not(.add_tab){
  float : left;
  margin : 5px -15px 0;
  border-top-right-radius: 25px 160px;
  border-top-left-radius: 25px 160px;
  padding : 0 40px 0 26px;
  height: 170px;
  background: #3f3f3f;
  position : relative;
  box-shadow: 0 0px 20px rgba(0,0,0,1);
  max-width : 170px;
}



ul.tabs > li:not(.add_tab) > a{
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #AAA;
  cursor: default;
}

ul.tabs > li.temp a{
   color: #FFF;
   padding-right: 5px;
}

ul.tabs > li.temp a:before {
	content:"📌";
	font-family: "fontello";
	margin-right: 10px;
}

ul.tabs > li:not(.add_tab):hover a{
	color:#FFF;
}


ul.tabs > li:not(.add_tab):before, ul.tabs > li:not(.add_tab):after{
  content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 5px;
  top: -2px;
  border-style : solid;
  position : absolute;
}

ul.tabs > li:not(.add_tab):before{
  border-color : transparent #3f3f3f transparent transparent;
  -webkit-transform : rotate(58deg);
  -moz-transform : rotate(58deg);
  left: -10px;
}

ul.tabs > li:not(.add_tab):after{
  border-color : transparent transparent transparent #3f3f3f;
  -webkit-transform : rotate(-58deg);
  -moz-transform : rotate(-58deg);
  right: -10px;
}

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.tree_footer {
right: 0px;
left: 0px;
height: 20px;
position: absolute;
bottom: 0px;
color: #444;
font-size: 12px;
background: #777;
z-index: 2;
text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
line-height: 19px;
vertical-align: middle;
padding-left: 5px;
z-index: 5;
}

.tree_footer i {
	display: inline-block;
	cursor: pointer;
}

.tree_footer i:hover {
	display: inline-block;
	cursor: pointer;
	color: #000;
}

.tree_footer .float_right {
	float: right;	
}

#tree_footer2 {
right: 0px;
width: 24px;
position: absolute;
bottom: 32px;
color: #FFF;
z-index: 6;
}

.left_panel_hide #tree_footer2 {
	right: auto;
	left: 0px;
	width: 10px;
}

.left_panel_hide #tree_footer2 li {
padding: 7px 2px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border: 1px solid #BBB;
border-left: none;
color: #555;
font-size: 11px;
margin-top: 2px;
cursor: pointer;
width: 10px;
}

.show_pomidors #tree_footer2 {
	bottom: 46px;
}

#tab_find {
}

#tree_footer2 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;	
}

#tree_footer2 ul li{
	padding: 5px 5px 7px 5px;	
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #BBB;
	border-right: none;
	color: #555;
	font-size: 12px;
	margin-top: 2px;	
	cursor: pointer;
}

#tree_footer2 ul li:hover {
   color: #000;
   -moz-transition: all 0.2s; 
   -webkit-transition: all 0.2s;  
   -ms-transition: all 0.2s;  
   -o-transition: all 0.2s;  
   transition: all 0.2s;  
   
}


#tree_footer2 ul li.active{
	background: #FFF;
	color: #000;
	box-shadow: 0px 0px 1px #000;
}


.redactor_toolbar li a {
	background: none;
	text-indent: inherit;

}

.align_left {
	float: left;
}

.align_right {
	float: right;
}

.makedone_header {
margin-top: -5px;
position: absolute;
left: 0px;
right: 0px;
top:-5px;
}

.makedone_header ul {
   list-style: none;
   margin: 1px 0px;
   text-align: right;
   padding: 0px;
   font-size: 0px;
}

.makedone_header li {
font-size: 12px;
text-align: center;
display: inline-block;
padding: 11px 0px 0px 0px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border: 1px solid #BBB;
border-top: none;
margin-top: 0px;
cursor: pointer;
color: #555;
text-shadow: 0px 1px 0px #FFF;
height: 18px;
width: 60px;
margin-left: 2px;
}

.makedone_header li.active:after {
	content: "x";
	font-size: 9px;
	color: #DDD;
	margin-left: 3px;
	margin-top: 0px;
	line-height: 15px;
	display: inline-block;
	vertical-align: middle;	
	position: absolute;
}

.makedone_header li:hover {
   color: #000;
   -moz-transition: all 0.2s; 
   -webkit-transition: all 0.2s;  
   -ms-transition: all 0.2s;  
   -o-transition: all 0.2s;  
   transition: all 0.2s;  
   
}

.makedone_header li i{
	display: block;
	margin-top: 15px;
	margin-left: 3px;
}

.makedone_header li.active {
	color: #000;
	background: #FFF;
	box-shadow: -1px 0px 3px rgba(80,80,80,0.5);
}

.makedone_pages {
	margin-top: -30px;
	min-height: 20px;
}

.makedone_pages .page {
	display: none;
}

.makedone_page_3 {
	padding-top: 20px !important;
}


.makedone_pages .page {
	text-align: center;
	padding: 45px 5px 20px 5px;
	box-shadow: inset 0px 0px 3px rgba(180,180,180,1);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 1px solid #CCC;
	border-top: none;
	background: #ededed;
}


#ui-datepicker-div {
	background: white;
	padding: 10px;
	z-index: 5 !important;
	border: 1px solid #CCC;
    -webkit-box-shadow:2px 2px 10px #000;
       -moz-box-shadow:2px 2px 10px #000;
            box-shadow:2px 2px 10px #000;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
	width: auto !important;
	max-width: none !important;
	
}

#ui-datepicker-div.ui-datepicker-multi .ui-datepicker-group table {
	margin-right: 10px !important;
	margin-left: 10px !important;
}

#makedone_date1 {
	z-index: 5;
}

#makedone_date1, #makedone_date2, #makedone_time1, #makedone_time2 {
	padding: 5px 5px;
	width: 7em;
	text-align: center;
	font-size: 1em;
	margin-right: 5px;
}

#makedone_time1, #makedone_time2 {
	width: 5em;
}

.mini_label {
	width: 5em;
	display: inline-block;
	color: #2f207d;
	cursor:pointer;
}

.makedone_h1 {
font-size: 18px;
text-align: center;
margin-top: 10px;
margin-bottom: 12px;
margin-left: 30px;
margin-right: 30px;
font-weight: bold;
}

#icons_and_colors {
	line-height: 25px;
}

#icons_and_colors i {
font-size: 18px;
margin: 0px;
padding: 10px;
cursor: pointer;
}

.add_tab {
background: #3f3f3f;
height: 14px;
width: 35px;
display: inline-block;
text-align: center;
margin-left: 5px;
padding-top: 2px;
margin-top: 8px;
border-bottom-left-radius: 17px 21px;
border-top-right-radius: 17px 23px;
font-size: 14px;
padding-left: 1px;
z-index: 5;
cursor: pointer;
float: none;
position: relative;
}

.add_tab:hover {
background: #777777;
	
}

.tree_active {
/*	background: #f5f5f5; */
}


.screen_saver_icon {
position: absolute;
top: 0px;
left: 0px;
text-align: center;
z-index: 9999999;
font-size: 150px;
text-shadow: 3px 3px 10px #888;
margin-top: 0px;
right: 0px;
font-family: Terminal;
background: rgba(150,150,150,0.9);
box-shadow: 0px 1px 3px #000;
}


.left_panel_hide #hide_left_panel .arrow:before {
	content: '\e75e';
}

#clear_all_icons {
	margin-top: 10px;
	margin-bottom: 20px;
	text-decoration: underline;
	cursor: pointer;
}

#select_color_of_folder ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#select_color_of_folder li {
	display: inline-block;
}

#close_all_tabs_except_current {
position: absolute;
right: 8px;
top: 8px;
color: #222 !important;
z-index: 2;
cursor: pointer;
}

#close_all_tabs_except_current:hover {
color:#FFF;
}

.show_all_history_redactor {
	cursor: pointer;
}



.fc-button-month {
	margin-left: 10px;
}

.fc-button-month:before {
font-family: "fontello";
content: '\2630';
font-style: normal;
font-weight: normal;
speak: none;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
opacity: .8;
font-variant: normal;
text-transform: none;
line-height: 1.4em;
margin-left: 0em;
font-size: 150%;
}

#tags_ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#tags_ul li.top_label .label {
border-top: 1px solid #CCC;
background: #DDD;
padding: 2px;
padding-bottom: 3px;
text-shadow: 0px 1px 0px #FFF;
color: #000;
cursor: pointer;
font-size: 11px;
padding-right: 8px;
}

#tags_ul .label_mini {
	cursor: pointer;
	padding-right: 8px;
}

#tags_ul ul {
	margin-left: 0px;
	list-style: none;
	margin: 0px;
	padding: 0px;	
	margin-left: 10px;
}


#tags_ul ul li {
font-size: 11px;
padding: 1px 2px 1px 5px;
border-top: 1px solid  #DBDBDB;		
}

#open_favorits {
	cursor: pointer;
	color: #000;
}

.hide_ul #open_favorits i:before{
	content: "\e75f";
}

#right_fav_folders {
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;	
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);	
}


#right_fav_folders ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	opacity: 1;
    height: auto;	
    display: block;
    max-height: 200px;
    overflow-y: auto;
}

#right_fav_folders ul li{
font-size: 11px;
padding: 1px 5px 1px 10px;
border-bottom: 1px solid #DBDBDB;
border-top: 1px solid #F5F5F5;		
cursor: pointer;
}

#right_fav_folders ul li:hover{
	background: rgba(255,255,255,0.5);
}




#right_fav_folders_header {
border-top: 1px solid #AAA;
background: #777;
padding-top: 3px;
text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
cursor: pointer;
height: 17px;
text-align: center;
font-size: 11px;
color: #000;
}

#right_tags {
	overflow-y: auto;
	position: absolute;
	top:27px;
	bottom:133px;
	left: 0px;
	right: 0px;
}

.hide_ul #right_fav_folders ul {
	transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
 }

.tags_content {
	display: none;
	margin-left: 0px !important;
}
 
.tags_content li {
border: none !important;
font-size: 11px !important;
margin-bottom: 0px;
margin-left: 5px;
cursor: pointer;
}

.encrypt_note {
}






.pass_block {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.pass_block i.leftright {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	color: #9E9E9E;
	cursor: pointer;
	font-size: 12px;
}

.pass_locker
{
	display: inline-block;
	padding-left: 6px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 40px;
	cursor: pointer;
	text-shadow: 0px 2px 1px #FFF;
	opacity: 0.3;
}

.pass_block b {
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	text-shadow: 0px 2px 1px #FFF;
}


#password_lock_now_master {
	color:green;
}

#password_lock_now_user {
	opacity: 1;
}

.master_active #password_lock_now_master {
	opacity: 1;
}

.master_active #password_lock_now_user {
	opacity: 0.3;
}

#password_lock_now_user {
	opacity: 1;
}

.master_active .label_user {
	display: none;
}

.label_master {
	display: none !important;
}

.master_active .label_master {
	display: inline-block !important;
}

.password_field {
	margin-top: 5px;
	display: block;
}

.encrypt_note input {
	font-size: 14px;
	padding: 5px 10px;
	width: 145px;
	text-align: center;
}

.encrypted:before {
	content:'🔒' !important;
}

#password_lock_now {
}

#password_lock_now:hover {
	color: #820000;
}

#tree_view_container_box {
	position: absolute;
	top:4px;
	left: 60px;
	width: auto;
	height: auto;
	z-index: 4;
}

#tree_view_container_box .label {
	margin-top: 2px;
	margin-left: 6px;
}

#tree_view_container {
	position: absolute;
	top:0px;
	width: auto;
	height: auto;
	z-index: 4;
	border-radius: 5px;
	font-size: 0px;
	text-align: center;
	left: 42px;
	border: 1px solid #333;
}

#tree_view_container .button {
	width: 29px;
	display: inline-block;
	height: 18px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
	cursor: pointer;
}



#tree_view_container .box {
	background: rgba(255,255,255,0.25);
	height: 10px;
	display: inline-block;
	margin: 0px;
	width: 10px;
	margin-top: 4px;
}
#tree_view_container .tree_view_center {
	border-left:1px solid #555;
	border-right:1px solid #555;
}

#tree_view_container .tree_view_left {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#tree_view_container .tree_view_right {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#tree_view_container .tree_view_left .box {
	border-left: 5px solid rgba(255,255,255,0.35);	
}

#tree_view_container .tree_view_center .box {
	border-top: 4px solid rgba(255,255,255,0.35);	
	height: 6px;
	width: 16px;
}

#tree_view_container .tree_view_right .box {
	border-right: 5px solid rgba(255,255,255,0.35);	
}

.tree_view_right {
	box-shadow: inset 0px 0px 3px #000;
	background: rgba(0,0,0,0.5);
}

.hide_right_panel .tree_view_right {
	box-shadow: none;
	background: none;
}

.tree_view_left {
	box-shadow: inset 0px 0px 3px #000;
	background: rgba(0,0,0,0.5);
}

.left_panel_hide .tree_view_left{
	box-shadow: none;
	background: none;
}

.tree_view_center {
	box-shadow: inset 0px 0px 3px #000;
	background: rgba(0,0,0,0.5);
}

.params_hide .tree_view_center {
	box-shadow: none;
	background: none;
}


.left_panel_hide .tree_footer .icon-left-open.left:before {
	content: "\e75e";
}

.tree_footer .icon-left-open.right:before {
	content: "\e75e";
}

.hide_right_panel .tree_footer .icon-left-open.right:before {
	content: "\e75d";
}

.context-menu-item b {
	float: right;
	font-weight: normal;
	margin-right: 7px;
	margin-left: 20px;
}

.context-menu-item b i:before {
	margin-right: -4px;
}


#right_tags .tag_checkbox {
	width:10px;
	height: 10px;
	margin-top: 1px;
	background: rgba(255,255,255,0.8);
	position: absolute;
	font-size: 11px;
	right: 5px;
	border: 1px solid #CCC;
	cursor: pointer;
}

#right_tags .tag_checkbox:hover {
	background: rgba(255,255,255,1);
	border: 1px solid #000;	
}


#right_tags .top_label > .tag_checkbox {
	margin-top: 4px;
}

#right_tags .tag_checkbox.checked:before {
	width: 12px;
	margin-left: 1px;
	margin-top: -2px;
	color: #444;
	display: inline-block;
	height: 10px;
/*	position: absolute;*/
	content: "\2713";
	font-family: fontello;
}


.tree_tags {
	color: #003500;
	display: inline;
	vertical-align: baseline;
}

.selected > .big_n_title .tree_tags {
	color: rgba(0,0,0,0.95);
}

.tree_tags b {
	font-weight: normal !important;
	padding: 0px 1px;
}

.tree_tags a {
	font-size: 9px;
	line-height: 6px;
	vertical-align: middle;
	background: rgba(156,255,141,0.74);	
	padding: 3px 4px 3px 4px;
	display: inline-block;
	border-radius: 10px;
	max-width: 70px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.9), 1px 1px 2px rgba(0,0,0,0.3);
}

/*
.tree_tags b:before {
content: "";
width: 0;
height: 0;
display: inline-block;
border-color: transparent rgba(63,255,63,0.4) transparent transparent;
border-style: solid;
border-width: 5px 3px 5px 0;
margin-top: -0px;
vertical-align: middle;
}
*/


.tags_selected {
	background: #09358c;
	color: #FFF;
}
