Options All -Indexes
AddType text/css cssgz
AddType text/javascript jsgz
AddEncoding x-gzip .cssgz .jsgz
# for all files in min directory
FileETag None
# Cache for a week, attempt to always use local copy
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault A604800
</IfModule>
<IfModule mod_headers.c>
  Header unset ETag
  Header set Cache-Control "max-age=604800, public"
</IfModule>
